/// @name apple-ios-dark--red
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--red: #ff000f;

/// @name apple-ios-dark--orange
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--orange: #ffa200;

/// @name apple-ios-dark--yellow
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--yellow: #ffe400;

/// @name apple-ios-dark--green
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--green: #00e763;

/// @name apple-ios-dark--mint
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--mint: #00eee5;

/// @name apple-ios-dark--teal
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--teal: #00cae3;

/// @name apple-ios-dark--cyan
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--cyan: #37ceff;

/// @name apple-ios-dark--blue
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--blue: #2e57ff;

/// @name apple-ios-dark--indigo
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--indigo: #7700e6;

/// @name apple-ios-dark--purple
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--purple: #ebebeb;

/// @name apple-ios-dark--pink
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--pink: #ff004e;

/// @name apple-ios-dark--brown
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--brown: #b09166;

/// @name apple-ios-dark--gray
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray: #8f8d93;

/// @name apple-ios-dark--gray-2
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray-2: #636266;

/// @name apple-ios-dark--gray-3
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray-3: #48484a;

/// @name apple-ios-dark--gray-4
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray-4: #3a3a3c;

/// @name apple-ios-dark--gray-5
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray-5: #2c2c2e;

/// @name apple-ios-dark--gray-6
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios-dark--gray-6: #1c1c1e;
