/// @name apple-ios--red
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--red: #ff0000;

/// @name apple-ios--orange
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--orange: #ff9500;

/// @name apple-ios--yellow
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--yellow: #ffd900;

/// @name apple-ios--green
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--green: #00db62;

/// @name apple-ios--mint
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--mint: #00d0c2;

/// @name apple-ios--teal
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--teal: #00b1c9;

/// @name apple-ios--cyan
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--cyan: #00a5e8;

/// @name apple-ios--blue
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--blue: #353eff;

/// @name apple-ios--indigo
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--indigo: #6f00d6;

/// @name apple-ios--purple
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--purple: #c800dc;

/// @name apple-ios--pink
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--pink: #e9cbd2;

/// @name apple-ios--brown
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--brown: #a6875c;

/// @name apple-ios--gray
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray: #8f8d93;

/// @name apple-ios--gray-2
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray-2: #aeadb2;

/// @name apple-ios--gray-3
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray-3: #c8c6cc;

/// @name apple-ios--gray-4
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray-4: #d2d0d6;

/// @name apple-ios--gray-5
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray-5: #e6e4ea;

/// @name apple-ios--gray-6
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-ios--gray-6: #f3f1f7;
