/// @name apple-ios
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @prop {color} $apple-ios.red [#ff0000]
/// @prop {color} $apple-ios.orange [#ff9500]
/// @prop {color} $apple-ios.yellow [#ffd900]
/// @prop {color} $apple-ios.green [#00db62]
/// @prop {color} $apple-ios.mint [#00d0c2]
/// @prop {color} $apple-ios.teal [#00b1c9]
/// @prop {color} $apple-ios.cyan [#00a5e8]
/// @prop {color} $apple-ios.blue [#353eff]
/// @prop {color} $apple-ios.indigo [#6f00d6]
/// @prop {color} $apple-ios.purple [#c800dc]
/// @prop {color} $apple-ios.pink [#e9cbd2]
/// @prop {color} $apple-ios.brown [#a6875c]
/// @prop {color} $apple-ios.gray [#8f8d93]
/// @prop {color} $apple-ios.gray-2 [#aeadb2]
/// @prop {color} $apple-ios.gray-3 [#c8c6cc]
/// @prop {color} $apple-ios.gray-4 [#d2d0d6]
/// @prop {color} $apple-ios.gray-5 [#e6e4ea]
/// @prop {color} $apple-ios.gray-6 [#f3f1f7]
/// @type map
$apple-ios: (
	red: #ff0000,
	orange: #ff9500,
	yellow: #ffd900,
	green: #00db62,
	mint: #00d0c2,
	teal: #00b1c9,
	cyan: #00a5e8,
	blue: #353eff,
	indigo: #6f00d6,
	purple: #c800dc,
	pink: #e9cbd2,
	brown: #a6875c,
	gray: #8f8d93,
	gray-2: #aeadb2,
	gray-3: #c8c6cc,
	gray-4: #d2d0d6,
	gray-5: #e6e4ea,
	gray-6: #f3f1f7
);
