/// @name apple-macos
/// @since 1.0.0
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @prop {color} $apple-macos.red [#ff0000]
/// @prop {color} $apple-macos.orange [#ff9500]
/// @prop {color} $apple-macos.yellow [#ffd900]
/// @prop {color} $apple-macos.green [#00e34f]
/// @prop {color} $apple-macos.mint [#00d0c2]
/// @prop {color} $apple-macos.teal [#36adc6]
/// @prop {color} $apple-macos.cyan [#2bb8f2]
/// @prop {color} $apple-macos.blue [#353eff]
/// @prop {color} $apple-macos.indigo [#6f00d6]
/// @prop {color} $apple-macos.purple [#c800dc]
/// @prop {color} $apple-macos.pink [#ff0040]
/// @prop {color} $apple-macos.brown [#a6875c]
/// @prop {color} $apple-macos.gray [#8f8d93]
/// @type map
$apple-macos: (
	red: #ff0000,
	orange: #ff9500,
	yellow: #ffd900,
	green: #00e34f,
	mint: #00d0c2,
	teal: #36adc6,
	cyan: #2bb8f2,
	blue: #353eff,
	indigo: #6f00d6,
	purple: #c800dc,
	pink: #ff0040,
	brown: #a6875c,
	gray: #8f8d93
);
