/// @name apple-macos-dark--red
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--red: #ff000f;

/// @name apple-macos-dark--orange
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--orange: #ffa200;

/// @name apple-macos-dark--yellow
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--yellow: #ffe400;

/// @name apple-macos-dark--green
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--green: #00ee58;

/// @name apple-macos-dark--mint
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--mint: #04dbd2;

/// @name apple-macos-dark--teal
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--teal: #46c4de;

/// @name apple-macos-dark--cyan
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--cyan: #28c4f7;

/// @name apple-macos-dark--blue
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--blue: #2e57ff;

/// @name apple-macos-dark--indigo
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--indigo: #7700e6;

/// @name apple-macos-dark--purple
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--purple: #da00f0;

/// @name apple-macos-dark--pink
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--pink: #ff004e;

/// @name apple-macos-dark--brown
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--brown: #b09166;

/// @name apple-macos-dark--gray
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-macos-dark--gray: #99979d;
