/// @name apple-warchos--red
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--red: #ff0000;

/// @name apple-warchos--orange
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--orange: #ff9500;

/// @name apple-warchos--yellow
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--yellow: #fcf717;

/// @name apple-warchos--green
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--green: #00f47a;

/// @name apple-warchos--mint
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--mint: #04dbd2;

/// @name apple-warchos--teal
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--teal: #46c4de;

/// @name apple-warchos--cyan
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--cyan: #2cc2fc;

/// @name apple-warchos--blue
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--blue: #2078fb;

/// @name apple-warchos--indigo
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--indigo: #8e33ff;

/// @name apple-warchos--purple
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--purple: #da00f0;

/// @name apple-warchos--pink
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--pink: #ff0038;

/// @name apple-warchos--brown
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--brown: #b09166;

/// @name apple-warchos--gray
/// @since 1.0.0
/// @group apple-hig
/// @access public
/// @author Apple Inc.
/// @link https://developer.apple.com/design/human-interface-guidelines/foundations/color/ Human Interface Guidelines
/// @type color
$apple-watchos--gray: #9b9eaa;
