/// @name md-blue
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-blue.50 [#e3f2fd]
/// @prop {color} $md-blue.100 [#bbdefb]
/// @prop {color} $md-blue.200 [#90caf9]
/// @prop {color} $md-blue.300 [#64b5f6]
/// @prop {color} $md-blue.400 [#42a5f5]
/// @prop {color} $md-blue.500 [#2196f3]
/// @prop {color} $md-blue.600 [#1e88e5]
/// @prop {color} $md-blue.700 [#1976d2]
/// @prop {color} $md-blue.800 [#1565c0]
/// @prop {color} $md-blue.900 [#0d47a1]
/// @prop {color} $md-blue.A100 [#82b1ff]
/// @prop {color} $md-blue.A200 [#448aff]
/// @prop {color} $md-blue.A400 [#2979ff]
/// @prop {color} $md-blue.A700 [#2962ff]
/// @type map
$md-blue: (
	50: #e3f2fd,
	100: #bbdefb,
	200: #90caf9,
	300: #64b5f6,
	400: #42a5f5,
	500: #2196f3,
	600: #1e88e5,
	700: #1976d2,
	800: #1565c0,
	900: #0d47a1,
	A100: #82b1ff,
	A200: #448aff,
	A400: #2979ff,
	A700: #2962ff
);
