/// @name md-brown
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-brown.50 [#efebe9]
/// @prop {color} $md-brown.100 [#d7ccc8]
/// @prop {color} $md-brown.200 [#bcaaa4]
/// @prop {color} $md-brown.300 [#a1887f]
/// @prop {color} $md-brown.400 [#8d6e63]
/// @prop {color} $md-brown.500 [#795548]
/// @prop {color} $md-brown.600 [#6d4c41]
/// @prop {color} $md-brown.700 [#5d4037]
/// @prop {color} $md-brown.800 [#4e342e]
/// @prop {color} $md-brown.900 [#3e2723]
/// @prop {color} $md-brown.A100 [#d7ccc8]
/// @prop {color} $md-brown.A200 [#bcaaa4]
/// @prop {color} $md-brown.A400 [#8d6e63]
/// @prop {color} $md-brown.A700 [#5d4037]
/// @type map
$md-brown: (
	50: #efebe9,
	100: #d7ccc8,
	200: #bcaaa4,
	300: #a1887f,
	400: #8d6e63,
	500: #795548,
	600: #6d4c41,
	700: #5d4037,
	800: #4e342e,
	900: #3e2723,
	A100: #d7ccc8,
	A200: #bcaaa4,
	A400: #8d6e63,
	A700: #5d4037
);
