
/// @name md-cyan--50
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--50: #e0f7fa;

/// @name md-cyan--100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--100: #b2ebf2;

/// @name md-cyan--200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--200: #80deea;

/// @name md-cyan--300
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--300: #4dd0e1;

/// @name md-cyan--400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--400: #26c6da;

/// @name md-cyan--500
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--500: #00bcd4;

/// @name md-cyan--600
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--600: #00acc1;

/// @name md-cyan--700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--700: #0097a7;

/// @name md-cyan--800
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--800: #00838f;

/// @name md-cyan--900
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--900: #006064;

/// @name md-cyan--A100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--A100: #84ffff;

/// @name md-cyan--A200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--A200: #18ffff;

/// @name md-cyan--A400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--A400: #00e5ff;

/// @name md-cyan--A700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-cyan--A700: #00b8d4;
