/// @name md-deep-orange
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-deep-orange.50 [#fbe9e7]
/// @prop {color} $md-deep-orange.100 [#ffccbc]
/// @prop {color} $md-deep-orange.200 [#ffab91]
/// @prop {color} $md-deep-orange.300 [#ff8a65]
/// @prop {color} $md-deep-orange.400 [#ff7043]
/// @prop {color} $md-deep-orange.500 [#ff5722]
/// @prop {color} $md-deep-orange.600 [#f4511e]
/// @prop {color} $md-deep-orange.700 [#e64a19]
/// @prop {color} $md-deep-orange.800 [#d84315]
/// @prop {color} $md-deep-orange.900 [#bf360c]
/// @prop {color} $md-deep-orange.A100 [#ff9e80]
/// @prop {color} $md-deep-orange.A200 [#ff6e40]
/// @prop {color} $md-deep-orange.A400 [#ff3d00]
/// @prop {color} $md-deep-orange.A700 [#dd2c00]
/// @type map
$md-deep-orange: (
	50: #fbe9e7,
	100: #ffccbc,
	200: #ffab91,
	300: #ff8a65,
	400: #ff7043,
	500: #ff5722,
	600: #f4511e,
	700: #e64a19,
	800: #d84315,
	900: #bf360c,
	A100: #ff9e80,
	A200: #ff6e40,
	A400: #ff3d00,
	A700: #dd2c00
);
