/// @name md-deep-purple
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-deep-purple.50 [#ede7f6]
/// @prop {color} $md-deep-purple.100 [#d1c4e9]
/// @prop {color} $md-deep-purple.200 [#b39ddb]
/// @prop {color} $md-deep-purple.300 [#9575cd]
/// @prop {color} $md-deep-purple.400 [#7e57c2]
/// @prop {color} $md-deep-purple.500 [#673ab7]
/// @prop {color} $md-deep-purple.600 [#5e35b1]
/// @prop {color} $md-deep-purple.700 [#512da8]
/// @prop {color} $md-deep-purple.800 [#4527a0]
/// @prop {color} $md-deep-purple.900 [#311b92]
/// @prop {color} $md-deep-purple.A100 [#b388ff]
/// @prop {color} $md-deep-purple.A200 [#7c4dff]
/// @prop {color} $md-deep-purple.A400 [#651fff]
/// @prop {color} $md-deep-purple.A700 [#6200ea]
/// @type map
$md-deep-purple: (
	50: #ede7f6,
	100: #d1c4e9,
	200: #b39ddb,
	300: #9575cd,
	400: #7e57c2,
	500: #673ab7,
	600: #5e35b1,
	700: #512da8,
	800: #4527a0,
	900: #311b92,
	A100: #b388ff,
	A200: #7c4dff,
	A400: #651fff,
	A700: #6200ea
);
