/// @name md-deep-orange--50
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--50: #fbe9e7;

/// @name md-deep-orange--100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--100: #ffccbc;

/// @name md-deep-orange--200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--200: #ffab91;

/// @name md-deep-orange--300
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--300: #ff8a65;

/// @name md-deep-orange--400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--400: #ff7043;

/// @name md-deep-orange--500
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--500: #ff5722;

/// @name md-deep-orange--600
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--600: #f4511e;

/// @name md-deep-orange--700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--700: #e64a19;

/// @name md-deep-orange--800
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--800: #d84315;

/// @name md-deep-orange--900
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--900: #bf360c;

/// @name md-deep-orange--A100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--A100: #ff9e80;

/// @name md-deep-orange--A200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--A200: #ff6e40;

/// @name md-deep-orange--A400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--A400: #ff3d00;

/// @name md-deep-orange--A700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-deep-orange--A700: #dd2c00;
