
/// @name md-indigo--50
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--50: #e8eaf6;

/// @name md-indigo--100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--100: #c5cae9;

/// @name md-indigo--200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--200: #9fa8da;

/// @name md-indigo--300
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--300: #7986cb;

/// @name md-indigo--400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--400: #5c6bc0;

/// @name md-indigo--500
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--500: #3f51b5;

/// @name md-indigo--600
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--600: #3949ab;

/// @name md-indigo--700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--700: #303f9f;

/// @name md-indigo--800
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--800: #283593;

/// @name md-indigo--900
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--900: #1a237e;

/// @name md-indigo--A100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--A100: #8c9eff;

/// @name md-indigo--A200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--A200: #536dfe;

/// @name md-indigo--A400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--A400: #3d5afe;

/// @name md-indigo--A700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-indigo--A700: #304ffe;
