/// @name md-light-green
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-light-green.50 [#f1f8e9]
/// @prop {color} $md-light-green.100 [#dcedc8]
/// @prop {color} $md-light-green.200 [#c5e1a5]
/// @prop {color} $md-light-green.300 [#aed581]
/// @prop {color} $md-light-green.400 [#9ccc65]
/// @prop {color} $md-light-green.500 [#8bc34a]
/// @prop {color} $md-light-green.600 [#7cb342]
/// @prop {color} $md-light-green.700 [#689f38]
/// @prop {color} $md-light-green.800 [#558b2f]
/// @prop {color} $md-light-green.900 [#33691e]
/// @prop {color} $md-light-green.A100 [#ccff90]
/// @prop {color} $md-light-green.A200 [#b2ff59]
/// @prop {color} $md-light-green.A400 [#76ff03]
/// @prop {color} $md-light-green.A700 [#64dd17]
/// @type map
$md-light-green: (
	50: #f1f8e9,
	100: #dcedc8,
	200: #c5e1a5,
	300: #aed581,
	400: #9ccc65,
	500: #8bc34a,
	600: #7cb342,
	700: #689f38,
	800: #558b2f,
	900: #33691e,
	A100: #ccff90,
	A200: #b2ff59,
	A400: #76ff03,
	A700: #64dd17
);
