/// @name md-teal
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @prop {color} $md-teal.50 [#e0f2f1]
/// @prop {color} $md-teal.100 [#b2dfdb]
/// @prop {color} $md-teal.200 [#80cbc4]
/// @prop {color} $md-teal.300 [#4db6ac]
/// @prop {color} $md-teal.400 [#26a69a]
/// @prop {color} $md-teal.500 [#009688]
/// @prop {color} $md-teal.600 [#00897b]
/// @prop {color} $md-teal.700 [#00796b]
/// @prop {color} $md-teal.800 [#00695c]
/// @prop {color} $md-teal.900 [#004d40]
/// @prop {color} $md-teal.A100 [#a7ffeb]
/// @prop {color} $md-teal.A200 [#64ffda]
/// @prop {color} $md-teal.A400 [#1de9b6]
/// @prop {color} $md-teal.A700 [#00bfa5]
/// @type map
$md-teal: (
	50: #e0f2f1,
	100: #b2dfdb,
	200: #80cbc4,
	300: #4db6ac,
	400: #26a69a,
	500: #009688,
	600: #00897b,
	700: #00796b,
	800: #00695c,
	900: #004d40,
	A100: #a7ffeb,
	A200: #64ffda,
	A400: #1de9b6,
	A700: #00bfa5
);
