
/// @name md-teal--50
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--50: #e0f2f1;

/// @name md-teal--100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--100: #b2dfdb;

/// @name md-teal--200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--200: #80cbc4;

/// @name md-teal--300
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--300: #4db6ac;

/// @name md-teal--400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--400: #26a69a;

/// @name md-teal--500
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--500: #009688;

/// @name md-teal--600
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--600: #00897b;

/// @name md-teal--700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--700: #00796b;

/// @name md-teal--800
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--800: #00695c;

/// @name md-teal--900
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--900: #004d40;

/// @name md-teal--A100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--A100: #a7ffeb;

/// @name md-teal--A200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--A200: #64ffda;

/// @name md-teal--A400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--A400: #1de9b6;

/// @name md-teal--A700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-teal--A700: #00bfa5;
