
/// @name md-yellow--50
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--50: #fffde7;

/// @name md-yellow--100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--100: #fff9c4;

/// @name md-yellow--200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--200: #fff59d;

/// @name md-yellow--300
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--300: #fff176;

/// @name md-yellow--400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--400: #ffee58;

/// @name md-yellow--500
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--500: #ffeb3b;

/// @name md-yellow--600
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--600: #fdd835;

/// @name md-yellow--700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--700: #fbc02d;

/// @name md-yellow--800
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--800: #f9a825;

/// @name md-yellow--900
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--900: #f57f17;

/// @name md-yellow--A100
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--A100: #ffff8d;

/// @name md-yellow--A200
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--A200: #ffff00;

/// @name md-yellow--A400
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--A400: #ffea00;

/// @name md-yellow--A700
/// @since 1.0.0
/// @group material-design
/// @access public
/// @author Google
/// @link https://material.io/design/color/the-color-system.html Material Design
/// @type color
$md-yellow--A700: #ffd600;
