/// @name ms-windows--AliceBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--AliceBlue: #f0f8ff;

/// @name ms-windows--AntiqueWhite
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--AntiqueWhite: #faebd7;

/// @name ms-windows--Aqua
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Aqua: #00ffff;

/// @name ms-windows--Aquamarine
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Aquamarine: #7fffd4;

/// @name ms-windows--Azure
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Azure: #f0ffff;

/// @name ms-windows--Beige
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Beige: #f5f5dc;

/// @name ms-windows--Bisque
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Bisque: #ffe4c4;

/// @name ms-windows--Black
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Black: #000000;

/// @name ms-windows--BlanchedAlmond
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--BlanchedAlmond: #ffebcd;

/// @name ms-windows--Blue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Blue: #0000ff;

/// @name ms-windows--BlueViolet
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--BlueViolet: #8a2be2;

/// @name ms-windows--Brown
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Brown: #a52a2a;

/// @name ms-windows--BurlyWood
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--BurlyWood: #deb887;

/// @name ms-windows--CadetBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--CadetBlue: #5f9ea0;

/// @name ms-windows--Chartreuse
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Chartreuse: #7fff00;

/// @name ms-windows--Chocolate
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Chocolate: #d2691e;

/// @name ms-windows--Coral
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Coral: #ff7f50;

/// @name ms-windows--CornflowerBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--CornflowerBlue: #6495ed;

/// @name ms-windows--Cornsilk
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Cornsilk: #fff8dc;

/// @name ms-windows--Crimson
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Crimson: #dc143c;

/// @name ms-windows--DarkBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkBlue: #00008b;

/// @name ms-windows--DarkCyan
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkCyan: #008b8b;

/// @name ms-windows--DarkGoldenrod
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkGoldenrod: #b8860b;

/// @name ms-windows--DarkGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkGray: #a9a9a9;

/// @name ms-windows--DarkGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkGreen: #006400;

/// @name ms-windows--DarkKhaki
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkKhaki: #bdb76b;

/// @name ms-windows--DarkMagenta
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkMagenta: #8b008b;

/// @name ms-windows--DarkOliveGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkOliveGreen: #556b2f;

/// @name ms-windows--DarkOrange
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkOrange: #ff8c00;

/// @name ms-windows--DarkOrchid
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkOrchid: #9932cc;

/// @name ms-windows--DarkRed
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkRed: #8b0000;

/// @name ms-windows--DarkSalmon
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkSalmon: #e9967a;

/// @name ms-windows--DarkSeaGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkSeaGreen: #8fbc8f;

/// @name ms-windows--DarkSlateBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkSlateBlue: #483d8b;

/// @name ms-windows--DarkSlateGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkSlateGray: #2f4f4f;

/// @name ms-windows--DarkTurquoise
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkTurquoise: #00ced1;

/// @name ms-windows--DarkViolet
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DarkViolet: #9400d3;

/// @name ms-windows--DeepPink
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DeepPink: #ff1493;

/// @name ms-windows--DeepSkyBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DeepSkyBlue: #00bfff;

/// @name ms-windows--DimGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DimGray: #696969;

/// @name ms-windows--DodgerBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--DodgerBlue: #1e90ff;

/// @name ms-windows--Firebrick
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Firebrick: #b22222;

/// @name ms-windows--FloralWhite
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--FloralWhite: #fffaf0;

/// @name ms-windows--ForestGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--ForestGreen: #228b22;

/// @name ms-windows--Gainsboro
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Gainsboro: #dcdcdc;

/// @name ms-windows--GhostWhite
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--GhostWhite: #f8f8ff;

/// @name ms-windows--Gold
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Gold: #ffd700;

/// @name ms-windows--Goldenrod
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Goldenrod: #daa520;

/// @name ms-windows--Gray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Gray: #808080;

/// @name ms-windows--Green
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Green: #008000;

/// @name ms-windows--GreenYellow
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--GreenYellow: #adff2f;

/// @name ms-windows--Honeydew
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Honeydew: #f0fff0;

/// @name ms-windows--HotPink
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--HotPink: #ff69b4;

/// @name ms-windows--IndianRed
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--IndianRed: #cd5c5c;

/// @name ms-windows--Indigo
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Indigo: #4b0082;

/// @name ms-windows--Ivory
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Ivory: #fffff0;

/// @name ms-windows--Khaki
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Khaki: #f0e68c;

/// @name ms-windows--Lavender
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Lavender: #e6e6fa;

/// @name ms-windows--LavenderBlush
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LavenderBlush: #fff0f5;

/// @name ms-windows--LawnGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LawnGreen: #7cfc00;

/// @name ms-windows--LemonChiffon
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LemonChiffon: #fffacd;

/// @name ms-windows--LightBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightBlue: #add8e6;

/// @name ms-windows--LightCoral
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightCoral: #f08080;

/// @name ms-windows--LightCyan
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightCyan: #e0ffff;

/// @name ms-windows--LightGoldenrodYellow
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightGoldenrodYellow: #fafad2;

/// @name ms-windows--LightGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightGray: #d3d3d3;

/// @name ms-windows--LightGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightGreen: #90ee90;

/// @name ms-windows--LightPink
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightPink: #ffb6c1;

/// @name ms-windows--LightSalmon
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightSalmon: #ffa07a;

/// @name ms-windows--LightSeaGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightSeaGreen: #20b2aa;

/// @name ms-windows--LightSkyBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightSkyBlue: #87cefa;

/// @name ms-windows--LightSlateGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightSlateGray: #778899;

/// @name ms-windows--LightSteelBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightSteelBlue: #b0c4de;

/// @name ms-windows--LightYellow
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LightYellow: #ffffe0;

/// @name ms-windows--Lime
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Lime: #00ff00;

/// @name ms-windows--LimeGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--LimeGreen: #32cd32;

/// @name ms-windows--Linen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Linen: #faf0e6;

/// @name ms-windows--Magenta
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Magenta: #ff00ff;

/// @name ms-windows--Maroon
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Maroon: #800000;

/// @name ms-windows--MediumAquamarine
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumAquamarine: #66cdaa;

/// @name ms-windows--MediumBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumBlue: #0000cd;

/// @name ms-windows--MediumOrchid
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumOrchid: #ba55d3;

/// @name ms-windows--MediumPurple
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumPurple: #9370db;

/// @name ms-windows--MediumSeaGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumSeaGreen: #3cb371;

/// @name ms-windows--MediumSlateBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumSlateBlue: #7b68ee;

/// @name ms-windows--MediumSpringGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumSpringGreen: #00fa9a;

/// @name ms-windows--MediumTurquoise
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumTurquoise: #48d1cc;

/// @name ms-windows--MediumVioletRed
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MediumVioletRed: #c71585;

/// @name ms-windows--MidnightBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MidnightBlue: #191970;

/// @name ms-windows--MintCream
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MintCream: #f5fffa;

/// @name ms-windows--MistyRose
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--MistyRose: #ffe4e1;

/// @name ms-windows--Moccasin
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Moccasin: #ffe4b5;

/// @name ms-windows--NavajoWhite
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--NavajoWhite: #ffdead;

/// @name ms-windows--Navy
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Navy: #000080;

/// @name ms-windows--OldLace
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--OldLace: #fdf5e6;

/// @name ms-windows--Olive
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Olive: #808000;

/// @name ms-windows--OliveDrab
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--OliveDrab: #6b8e23;

/// @name ms-windows--Orange
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Orange: #ffa500;

/// @name ms-windows--OrangeRed
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--OrangeRed: #ff4500;

/// @name ms-windows--Orchid
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Orchid: #da70d6;

/// @name ms-windows--PaleGoldenrod
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PaleGoldenrod: #eee8aa;

/// @name ms-windows--PaleGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PaleGreen: #98fb98;

/// @name ms-windows--PaleTurquoise
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PaleTurquoise: #afeeee;

/// @name ms-windows--PaleVioletRed
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PaleVioletRed: #db7093;

/// @name ms-windows--PapayaWhip
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PapayaWhip: #ffefd5;

/// @name ms-windows--PeachPuff
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PeachPuff: #ffdab9;

/// @name ms-windows--Peru
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Peru: #cd853f;

/// @name ms-windows--Pink
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Pink: #ffc0cb;

/// @name ms-windows--Plum
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Plum: #dda0dd;

/// @name ms-windows--PowderBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--PowderBlue: #b0e0e6;

/// @name ms-windows--Purple
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Purple: #800080;

/// @name ms-windows--Red
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Red: #ff0000;

/// @name ms-windows--RosyBrown
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--RosyBrown: #bc8f8f;

/// @name ms-windows--RoyalBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--RoyalBlue: #4169e1;

/// @name ms-windows--SaddleBrown
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SaddleBrown: #8b4513;

/// @name ms-windows--Salmon
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Salmon: #fa8072;

/// @name ms-windows--SandyBrown
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SandyBrown: #f4a460;

/// @name ms-windows--SeaGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SeaGreen: #2e8b57;

/// @name ms-windows--SeaShell
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SeaShell: #fff5ee;

/// @name ms-windows--Sienna
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Sienna: #a0522d;

/// @name ms-windows--Silver
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Silver: #c0c0c0;

/// @name ms-windows--SkyBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SkyBlue: #87ceeb;

/// @name ms-windows--SlateBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SlateBlue: #6a5acd;

/// @name ms-windows--SlateGray
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SlateGray: #708090;

/// @name ms-windows--Snow
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Snow: #fffafa;

/// @name ms-windows--SpringGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SpringGreen: #00ff7f;

/// @name ms-windows--SteelBlue
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--SteelBlue: #4682b4;

/// @name ms-windows--Tan
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Tan: #d2b48c;

/// @name ms-windows--Teal
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Teal: #008080;

/// @name ms-windows--Thistle
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Thistle: #d8bfd8;

/// @name ms-windows--Tomato
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Tomato: #ff6347;

/// @name ms-windows--Transparent
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Transparent: aqua;

/// @name ms-windows--Turquoise
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Turquoise: #40e0d0;

/// @name ms-windows--Violet
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Violet: #ee82ee;

/// @name ms-windows--Wheat
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Wheat: #f5deb3;

/// @name ms-windows--White
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--White: #ffffff;

/// @name ms-windows--WhiteSmoke
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--WhiteSmoke: #f5f5f5;

/// @name ms-windows--Yellow
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--Yellow: #ffff00;

/// @name ms-windows--YellowGreen
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0
/// @type color
$ms-windows--YellowGreen: #9acd32;
