/// @name ms-windows
/// @since 1.0.0
/// @group microsoft-windows-colors
/// @access public
/// @author Microsoft Corporation
/// @link https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0 Colors Class
/// @prop {color} $ms-windows.AliceBlue [#F0F8FF]
/// @prop {color} $ms-windows.AntiqueWhite [#FAEBD7]
/// @prop {color} $ms-windows.Aqua [#00FFFF]
/// @prop {color} $ms-windows.Aquamarine [#7FFFD4]
/// @prop {color} $ms-windows.Azure [#F0FFFF]
/// @prop {color} $ms-windows.Beige [#F5F5DC]
/// @prop {color} $ms-windows.Bisque [#FFE4C4]
/// @prop {color} $ms-windows.Black [#000000]
/// @prop {color} $ms-windows.BlanchedAlmond [#FFEBCD]
/// @prop {color} $ms-windows.Blue [#0000FF]
/// @prop {color} $ms-windows.BlueViolet [#8A2BE2]
/// @prop {color} $ms-windows.Brown [#A52A2A]
/// @prop {color} $ms-windows.BurlyWood [#DEB887]
/// @prop {color} $ms-windows.CadetBlue [#5F9EA0]
/// @prop {color} $ms-windows.Chartreuse [#7FFF00]
/// @prop {color} $ms-windows.Chocolate [#D2691E]
/// @prop {color} $ms-windows.Coral [#FF7F50]
/// @prop {color} $ms-windows.CornflowerBlue [#6495ED]
/// @prop {color} $ms-windows.Cornsilk [#FFF8DC]
/// @prop {color} $ms-windows.Crimson [#DC143C]
/// @prop {color} $ms-windows.DarkBlue [#00008B]
/// @prop {color} $ms-windows.DarkCyan [#008B8B]
/// @prop {color} $ms-windows.DarkGoldenrod [#B8860B]
/// @prop {color} $ms-windows.DarkGray [#A9A9A9]
/// @prop {color} $ms-windows.DarkGreen [#006400]
/// @prop {color} $ms-windows.DarkKhaki [#BDB76B]
/// @prop {color} $ms-windows.DarkMagenta [#8B008B]
/// @prop {color} $ms-windows.DarkOliveGreen [#556B2F]
/// @prop {color} $ms-windows.DarkOrange [#FF8C00]
/// @prop {color} $ms-windows.DarkOrchid [#9932CC]
/// @prop {color} $ms-windows.DarkRed [#8B0000]
/// @prop {color} $ms-windows.DarkSalmon [#E9967A]
/// @prop {color} $ms-windows.DarkSeaGreen [#8FBC8F]
/// @prop {color} $ms-windows.DarkSlateBlue [#483D8B]
/// @prop {color} $ms-windows.DarkSlateGray [#2F4F4F]
/// @prop {color} $ms-windows.DarkTurquoise [#00CED1]
/// @prop {color} $ms-windows.DarkViolet [#9400D3]
/// @prop {color} $ms-windows.DeepPink [#FF1493]
/// @prop {color} $ms-windows.DeepSkyBlue [#00BFFF]
/// @prop {color} $ms-windows.DimGray [#696969]
/// @prop {color} $ms-windows.DodgerBlue [#1E90FF]
/// @prop {color} $ms-windows.Firebrick [#B22222]
/// @prop {color} $ms-windows.FloralWhite [#FFFAF0]
/// @prop {color} $ms-windows.ForestGreen [#228B22]
/// @prop {color} $ms-windows.Gainsboro [#DCDCDC]
/// @prop {color} $ms-windows.GhostWhite [#F8F8FF]
/// @prop {color} $ms-windows.Gold [#FFD700]
/// @prop {color} $ms-windows.Goldenrod [#DAA520]
/// @prop {color} $ms-windows.Gray [#808080]
/// @prop {color} $ms-windows.Green [#008000]
/// @prop {color} $ms-windows.GreenYellow [#ADFF2F]
/// @prop {color} $ms-windows.Honeydew [#F0FFF0]
/// @prop {color} $ms-windows.HotPink [#FF69B4]
/// @prop {color} $ms-windows.IndianRed [#CD5C5C]
/// @prop {color} $ms-windows.Indigo [#4B0082]
/// @prop {color} $ms-windows.Ivory [#FFFFF0]
/// @prop {color} $ms-windows.Khaki [#F0E68C]
/// @prop {color} $ms-windows.Lavender [#E6E6FA]
/// @prop {color} $ms-windows.LavenderBlush [#FFF0F5]
/// @prop {color} $ms-windows.LawnGreen [#7CFC00]
/// @prop {color} $ms-windows.LemonChiffon [#FFFACD]
/// @prop {color} $ms-windows.LightBlue [#ADD8E6]
/// @prop {color} $ms-windows.LightCoral [#F08080]
/// @prop {color} $ms-windows.LightCyan [#E0FFFF]
/// @prop {color} $ms-windows.LightGoldenrodYellow [#FAFAD2]
/// @prop {color} $ms-windows.LightGray [#D3D3D3]
/// @prop {color} $ms-windows.LightGreen [#90EE90]
/// @prop {color} $ms-windows.LightPink [#FFB6C1]
/// @prop {color} $ms-windows.LightSalmon [#FFA07A]
/// @prop {color} $ms-windows.LightSeaGreen [#20B2AA]
/// @prop {color} $ms-windows.LightSkyBlue [#87CEFA]
/// @prop {color} $ms-windows.LightSlateGray [#778899]
/// @prop {color} $ms-windows.LightSteelBlue [#B0C4DE]
/// @prop {color} $ms-windows.LightYellow [#FFFFE0]
/// @prop {color} $ms-windows.Lime [#00FF00]
/// @prop {color} $ms-windows.LimeGreen [#32CD32]
/// @prop {color} $ms-windows.Linen [#FAF0E6]
/// @prop {color} $ms-windows.Magenta [#FF00FF]
/// @prop {color} $ms-windows.Maroon [#800000]
/// @prop {color} $ms-windows.MediumAquamarine [#66CDAA]
/// @prop {color} $ms-windows.MediumBlue [#0000CD]
/// @prop {color} $ms-windows.MediumOrchid [#BA55D3]
/// @prop {color} $ms-windows.MediumPurple [#9370DB]
/// @prop {color} $ms-windows.MediumSeaGreen [#3CB371]
/// @prop {color} $ms-windows.MediumSlateBlue [#7B68EE]
/// @prop {color} $ms-windows.MediumSpringGreen [#00FA9A]
/// @prop {color} $ms-windows.MediumTurquoise [#48D1CC]
/// @prop {color} $ms-windows.MediumVioletRed [#C71585]
/// @prop {color} $ms-windows.MidnightBlue [#191970]
/// @prop {color} $ms-windows.MintCream [#F5FFFA]
/// @prop {color} $ms-windows.MistyRose [#FFE4E1]
/// @prop {color} $ms-windows.Moccasin [#FFE4B5]
/// @prop {color} $ms-windows.NavajoWhite [#FFDEAD]
/// @prop {color} $ms-windows.Navy [#000080]
/// @prop {color} $ms-windows.OldLace [#FDF5E6]
/// @prop {color} $ms-windows.Olive [#808000]
/// @prop {color} $ms-windows.OliveDrab [#6B8E23]
/// @prop {color} $ms-windows.Orange [#FFA500]
/// @prop {color} $ms-windows.OrangeRed [#FF4500]
/// @prop {color} $ms-windows.Orchid [#DA70D6]
/// @prop {color} $ms-windows.PaleGoldenrod [#EEE8AA]
/// @prop {color} $ms-windows.PaleGreen [#98FB98]
/// @prop {color} $ms-windows.PaleTurquoise [#AFEEEE]
/// @prop {color} $ms-windows.PaleVioletRed [#DB7093]
/// @prop {color} $ms-windows.PapayaWhip [#FFEFD5]
/// @prop {color} $ms-windows.PeachPuff [#FFDAB9]
/// @prop {color} $ms-windows.Peru [#CD853F]
/// @prop {color} $ms-windows.Pink [#FFC0CB]
/// @prop {color} $ms-windows.Plum [#DDA0DD]
/// @prop {color} $ms-windows.PowderBlue [#B0E0E6]
/// @prop {color} $ms-windows.Purple [#800080]
/// @prop {color} $ms-windows.Red [#FF0000]
/// @prop {color} $ms-windows.RosyBrown [#BC8F8F]
/// @prop {color} $ms-windows.RoyalBlue [#4169E1]
/// @prop {color} $ms-windows.SaddleBrown [#8B4513]
/// @prop {color} $ms-windows.Salmon [#FA8072]
/// @prop {color} $ms-windows.SandyBrown [#F4A460]
/// @prop {color} $ms-windows.SeaGreen [#2E8B57]
/// @prop {color} $ms-windows.SeaShell [#FFF5EE]
/// @prop {color} $ms-windows.Sienna [#A0522D]
/// @prop {color} $ms-windows.Silver [#C0C0C0]
/// @prop {color} $ms-windows.SkyBlue [#87CEEB]
/// @prop {color} $ms-windows.SlateBlue [#6A5ACD]
/// @prop {color} $ms-windows.SlateGray [#708090]
/// @prop {color} $ms-windows.Snow [#FFFAFA]
/// @prop {color} $ms-windows.SpringGreen [#00FF7F]
/// @prop {color} $ms-windows.SteelBlue [#4682B4]
/// @prop {color} $ms-windows.Tan [#D2B48C]
/// @prop {color} $ms-windows.Teal [#008080]
/// @prop {color} $ms-windows.Thistle [#D8BFD8]
/// @prop {color} $ms-windows.Tomato [#FF6347]
/// @prop {color} $ms-windows.Transparent [#00FFFFFF]
/// @prop {color} $ms-windows.Turquoise [#40E0D0]
/// @prop {color} $ms-windows.Violet [#EE82EE]
/// @prop {color} $ms-windows.Wheat [#F5DEB3]
/// @prop {color} $ms-windows.White [#FFFFFF]
/// @prop {color} $ms-windows.WhiteSmoke [#F5F5F5]
/// @prop {color} $ms-windows.Yellow [#FFFF00]
/// @prop {color} $ms-windows.YellowGreen [#9ACD32]
/// @type map
$ms-windows: (
	AliceBlue: #F0F8FF,
	AntiqueWhite: #FAEBD7,
	Aqua: #00FFFF,
	Aquamarine: #7FFFD4,
	Azure: #F0FFFF,
	Beige: #F5F5DC,
	Bisque: #FFE4C4,
	Black: #000000,
	BlanchedAlmond: #FFEBCD,
	Blue: #0000FF,
	BlueViolet: #8A2BE2,
	Brown: #A52A2A,
	BurlyWood: #DEB887,
	CadetBlue: #5F9EA0,
	Chartreuse: #7FFF00,
	Chocolate: #D2691E,
	Coral: #FF7F50,
	CornflowerBlue: #6495ED,
	Cornsilk: #FFF8DC,
	Crimson: #DC143C,
	DarkBlue: #00008B,
	DarkCyan: #008B8B,
	DarkGoldenrod: #B8860B,
	DarkGray: #A9A9A9,
	DarkGreen: #006400,
	DarkKhaki: #BDB76B,
	DarkMagenta: #8B008B,
	DarkOliveGreen: #556B2F,
	DarkOrange: #FF8C00,
	DarkOrchid: #9932CC,
	DarkRed: #8B0000,
	DarkSalmon: #E9967A,
	DarkSeaGreen: #8FBC8F,
	DarkSlateBlue: #483D8B,
	DarkSlateGray: #2F4F4F,
	DarkTurquoise: #00CED1,
	DarkViolet: #9400D3,
	DeepPink: #FF1493,
	DeepSkyBlue: #00BFFF,
	DimGray: #696969,
	DodgerBlue: #1E90FF,
	Firebrick: #B22222,
	FloralWhite: #FFFAF0,
	ForestGreen: #228B22,
	Gainsboro: #DCDCDC,
	GhostWhite: #F8F8FF,
	Gold: #FFD700,
	Goldenrod: #DAA520,
	Gray: #808080,
	Green: #008000,
	GreenYellow: #ADFF2F,
	Honeydew: #F0FFF0,
	HotPink: #FF69B4,
	IndianRed: #CD5C5C,
	Indigo: #4B0082,
	Ivory: #FFFFF0,
	Khaki: #F0E68C,
	Lavender: #E6E6FA,
	LavenderBlush: #FFF0F5,
	LawnGreen: #7CFC00,
	LemonChiffon: #FFFACD,
	LightBlue: #ADD8E6,
	LightCoral: #F08080,
	LightCyan: #E0FFFF,
	LightGoldenrodYellow: #FAFAD2,
	LightGray: #D3D3D3,
	LightGreen: #90EE90,
	LightPink: #FFB6C1,
	LightSalmon: #FFA07A,
	LightSeaGreen: #20B2AA,
	LightSkyBlue: #87CEFA,
	LightSlateGray: #778899,
	LightSteelBlue: #B0C4DE,
	LightYellow: #FFFFE0,
	Lime: #00FF00,
	LimeGreen: #32CD32,
	Linen: #FAF0E6,
	Magenta: #FF00FF,
	Maroon: #800000,
	MediumAquamarine: #66CDAA,
	MediumBlue: #0000CD,
	MediumOrchid: #BA55D3,
	MediumPurple: #9370DB,
	MediumSeaGreen: #3CB371,
	MediumSlateBlue: #7B68EE,
	MediumSpringGreen: #00FA9A,
	MediumTurquoise: #48D1CC,
	MediumVioletRed: #C71585,
	MidnightBlue: #191970,
	MintCream: #F5FFFA,
	MistyRose: #FFE4E1,
	Moccasin: #FFE4B5,
	NavajoWhite: #FFDEAD,
	Navy: #000080,
	OldLace: #FDF5E6,
	Olive: #808000,
	OliveDrab: #6B8E23,
	Orange: #FFA500,
	OrangeRed: #FF4500,
	Orchid: #DA70D6,
	PaleGoldenrod: #EEE8AA,
	PaleGreen: #98FB98,
	PaleTurquoise: #AFEEEE,
	PaleVioletRed: #DB7093,
	PapayaWhip: #FFEFD5,
	PeachPuff: #FFDAB9,
	Peru: #CD853F,
	Pink: #FFC0CB,
	Plum: #DDA0DD,
	PowderBlue: #B0E0E6,
	Purple: #800080,
	Red: #FF0000,
	RosyBrown: #BC8F8F,
	RoyalBlue: #4169E1,
	SaddleBrown: #8B4513,
	Salmon: #FA8072,
	SandyBrown: #F4A460,
	SeaGreen: #2E8B57,
	SeaShell: #FFF5EE,
	Sienna: #A0522D,
	Silver: #C0C0C0,
	SkyBlue: #87CEEB,
	SlateBlue: #6A5ACD,
	SlateGray: #708090,
	Snow: #FFFAFA,
	SpringGreen: #00FF7F,
	SteelBlue: #4682B4,
	Tan: #D2B48C,
	Teal: #008080,
	Thistle: #D8BFD8,
	Tomato: #FF6347,
	Transparent: #00FFFFFF,
	Turquoise: #40E0D0,
	Violet: #EE82EE,
	Wheat: #F5DEB3,
	White: #FFFFFF,
	WhiteSmoke: #F5F5F5,
	Yellow: #FFFF00,
	YellowGreen: #9ACD32
);
